@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');




* {
    margin: 0;
    padding: 0;


}

.header-container {
    font-family: Merriweather;
    /* align-items: center;
    justify-content: center; */
    background-image: url('../resources/Banner\ Image.png');

    width: 78%;
    max-width: 1320px;
    margin: 60px auto;
    height: 600px;
    flex-shrink: 0;

}

.header-headings {
    padding: 233px auto;
    text-align: center;
    padding: 233px 344px 177px 344px;


}


.heading-banner-text {
    align-items: center;
    text-align: center;


}

/* width: 0.8%;
    max-width: 1320px;
    font-size: 32px; */


.banner-title {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    bottom: 16px;

}

.banner-para {
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px
}



/* section-one  */

.section-one {
    font-family: Inter;
    width: 38%;
    max-width: 1320px;
    /* height: 1335px; */
    margin: 60px auto;

}

/* .sec-one-headings{
    padding: 233px 344px 177px 344px;
} */


.sec-one-img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0
}

.sec-one-h1 {

    color: #F00;
    font-family: Inter;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.para-one-p {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}


.sec-one-h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.section-two {
    font-family: Merriweather;
    background-image: url('../resources/Vectorrr.png');
    height: 500px;
    width: 78%;
    max-width: 1320px;
    margin: 60px auto;
    flex-shrink: 0;
}

.sec-two-headings {
    text-align: left;
    padding: 126px 552px 298px 126px;
}

.sec-two-h2 {
    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.sec-two-p {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.sec-two-button {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.section-three {
    background-color: rgba(248, 200, 200, 0.6);
    height: 500px;
    width: 78%;
    max-width: 1320px;
    margin: 60px auto;
    flex-shrink: 0;
}

.sec-three-headings {
    text-align: center;
    padding: 100px 386px 214px 385px;

}

.sec-three-p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.sec-three-button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}


.section-fourth {
    background-color: rgba(248, 200, 200, 0.6);
    height: 500px;
    width: 78%;
    max-width: 1320px;
    margin: 60px auto;

}

.coloums {
    display: flex;
    justify-content: space-between;
}



.section-fivth {
    width: 78%;
    max-width: 1320px;
    margin: 60px auto;

}

.sec-fivth-headings {
    text-align: center;

}

.sec-five-img {
    display: flex;

}


.section-sixth {
    width: 78%;
    max-width: 1320px;
    margin: 60px auto;

}

.sec-sx-headings {
    text-align: center;
}



.section-seventh {
    background-color: rgba(248, 200, 200, 0.6);
    width: 78%;
    max-width: 1320px;
    margin: 60px auto;
}



.footer {
    background: #070211;
    width: 100%;
    max-width: 1600px;
    height: 609px;
    flex-shrink: 0;
}

.footer-column {
    display: flex;
    padding: 120px 140px 120px 140px  ;
}

.ft-cl-headings {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px
}

.ft-cl-right-headings {

    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}